.course-card {
  margin: 0px 40px 40px 0px;
}

.courses-main {
  height: 100vh;
  width: 100%;
  /* width: 90% */
  padding: 10px;
  box-sizing: border-box;
  padding: 70px 130px 70px 130px;
}

.courses-h1 {
  margin-bottom: 40px;
}

.all-courses-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
